{% extends 'base.html' %}
{% block category %} <li><a href="{{url_for('categories',c='lists')}}" class="active">Category</a></li> {% endblock %}

  {% block css %}
  <!-- Vendor CSS Files -->
  <link href="{{url_for('static',filename='assets/vendor/aos/aos.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">

  <!--Icon Font Stylesheet-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!--ADDED LINKS-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/linearicons.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/font-awesome.min.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/categories/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/categories/nice-select.css')}}">					
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/categories/animate.min.css')}}">
	<link rel="stylesheet" href="{{url_for('static',filename='assets/css/categories/owl.carousel.css')}}">
  <!--end of added links-->

  <!--flaticon.css-->
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/flaticon.css')}}">

  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slick.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/slick-theme.css')}}">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static',filename='assets/css/style.css')}}" rel="stylesheet">

  <link rel="stylesheet" href="{{url_for('static',filename='assets/css/responsive.css')}}">

  <style>
    .titles h4:hover{
      transition: 0.3s;
    }
  </style>
</head>

{% endblock %}

  {% block content %}

  <div class="container-fluid mb-5 wow fadeIn userhomepagehero" id="#userhomepagehero" data-wow-delay="0.1s" style="padding: 35px; margin-top: 50px;">
    <div class="container">
      <div class="welcome-hero-serch-box">
        <div class="welcome-hero-form">
            <div class="single-welcome-hero-form" >
                <h3>what?</h3>
                <form action="{{url_for('categories',c='lists')}}" method="POST">
                    <input type="text" name="whattoinput" value="" style="box-shadow:none;outline:0!important;" style="margin-bottom: 150px;" placeholder="Job title, company, Job category, etc.">
                <div class="welcome-hero-form-icon">
                    <i class="flaticon-list-with-dots"></i>
                </div>
            </div>
            <div class="single-welcome-hero-form">
                <h3>location</h3>
                    <input type="text" name="loctoinput" value="" style="box-shadow:none;outline:0!important;" placeholder="Iloilo City, Jaro, Molo, etc.">
                <div class="welcome-hero-form-icon">
                    <i class="flaticon-gps-fixed-indicator"></i>
                </div>
            </div>
        </div>
        <div class="welcome-hero-serch" >
            <input type="submit" class="welcome-hero-btn" value="Search" onclick="window.location.href='#'" style="box-shadow: none; outline: 0!important; border: 0; font-size: 12px;">
            </input>
        </div>
      </div>
    </div>
  </div>

{% if searches %}

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">

        {% for jobs in searches %}

        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="../static/assets/img/employerprofilepic/{{jobs[25]}}" alt="" style="margin-right: 10px;">
            <ul class="tags" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <li class="">
                <a href="{{url_for('categories',c = jobs[2])}}">{{jobs[2]}}</a>
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="{{url_for('job_details', id = jobs[0])}}"><h4>{{jobs[3]}}</h4></a>
                <h6>{{jobs[17]}}</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="{{url_for('job_details', id = jobs[0])}}">Apply</a></li>
              </ul>
            </div>
            <div class="col-lg-12">
              <p class="jobdescription">
              {{jobs[8]}}
              </p>
            </div>
            <p>Job type: {{jobs[10]}}</p>
            <p>Preferred level: {{jobs[11]}}</p>
            <p class="address"><span class="lnr lnr-map"></span>{{jobs[12]}}</p>
            <p class="address"><span class="lnr lnr-database"></span> ₱{{jobs[4]}} - ₱{{jobs[5]}}</p>
          </div>
        </div>

        {% endfor %}

        {% elif icr %}

        <!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">
    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">

        {% for catresults in icr %}

        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="../static/assets/img/employerprofilepic/{{catresults[25]}}" alt="" style="margin-right: 10px;">
            <ul class="tags" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <li class="">
                <a href="{{url_for('categories',c = catresults[2])}}">{{catresults[2]}}</a>
              </li>
            </ul>
          </div>
          <div class="details">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles">
                <a href="{{url_for('job_details', id = catresults[0])}}"><h4>{{catresults[3]}}</h4></a>
                <h6>{{catresults[17]}}</h6>					
              </div>
              <ul class="btns">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="{{url_for('job_details', id = catresults[0])}}">Apply</a></li>
              </ul>
            </div>
            <div class="col-lg-12">
              <p class="jobdescription">
              {{catresults[8]}}
              </p>
            </div>
            <p>Job type: {{catresults[10]}}</p>
            <p>Preferred level: {{catresults[11]}}</p>
            <p class="address"><span class="lnr lnr-map"></span>{{catresults[12]}}</p>
            <p class="address"><span class="lnr lnr-database"></span> ₱{{catresults[4]}} - ₱{{catresults[5]}}</p>
          </div>
        </div>

        {% endfor %}

        {% else %}

<!-- Start post Area -->
<section class="post-area section-gap">
  <div class="container">

    {% with messages = get_flashed_messages() %}

    {% if messages %}
    <div class="alert border border-{{color}} alert-dismissible fade show text-{{color}}" role="alert">
      <b>Uh-oh!</b> {{messages[0]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
    {% endif %}

    {% endwith%}

    <div class="row justify-content-center d-flex">
      <div class="col-lg-8 post-list">

        {% for job in jobs %}

        <div class="single-post d-flex flex-row">
          <div class="thumb">
            <img src="../static/assets/img/employerprofilepic/{{job[25]}}" alt="" style="margin-right: 10px;">
            <ul class="tags" style="display: flex; justify-content: space-between; flex-wrap: wrap;">
              <li class="">
                <a href="{{url_for('categories',c = job[2])}}">{{job[2]}}</a>
              </li>
            </ul>
          </div>
          <div class="details" style="width: 100%;">
            <div class="title d-flex flex-row justify-content-between">
              <div class="titles" style="text-wrap: wrap;">
                <a href="{{url_for('job_details', id = job[0])}}"><h4>{{job[3]}}</h4></a>
                <h6>{{job[17]}}</h6>					
              </div>
              <ul class="btns" style="display: inline-block;">
                <li><a href="#"><span class="lnr lnr-heart"></span></a></li>
                <li><a href="{{url_for('job_details', id = job[0])}}">Apply</a></li>
              </ul>
            </div>
            <div class="col-lg-12">
              <p class="jobdescription">
              {{job[8]}}
              </p>
            </div>
            <p>Job type: {{job[10]}}</p>
            <p>Preferred level: {{job[11]}}</p>
            <p class="address"><span class="lnr lnr-map"></span>{{job[12]}}</p>
            <p class="address"><span class="lnr lnr-database"></span> ₱{{job[4]}} - ₱{{job[5]}}</p>
          </div>
        </div>

        {% endfor %}

        {% if jobpage > 1 %}
        <a href="{{ url_for('categories',c = 'lists', pagesNum = jobpage - 1) }}">Previous</a>
        {% endif %}
        {% if jobpage < totalpage %}
          <a href="{{ url_for('categories', c = 'lists', pagesNum = jobpage + 1) }}">Next</a>
        {% endif %}



        {% endif %}

      </div>
      <div class="col-lg-4 sidebar">
        <div class="single-slidebar">
          <h4>Jobs by Location</h4>
          {% set count = [] %}

          {% for places in joblocation %}
          <ul class="cat-list">
            <li><a class="justify-content-between d-flex" href="{{url_for('categories',c = places[0])}}"><p>{{places[0]}}</p><span>{{locjobnum[count|length]}}</span></a></li>
          </ul>

          {% set __ = count.append(1) %}

          {% endfor %}

        </div>

        <div class="single-slidebar">
          <h4>Top rated job posts</h4>
          <div class="active-relatedjob-carusel">

            {% for ratedjobs in rated %}
            <div class="single-rated">
              <img class="img-fluid" src="../static/assets/img/employerprofilepic/{{ratedjobs[9]}}" alt="">
              <a href="job-single.html"><h4>{{ratedjobs[1]}}</h4></a>
              <h6>{{ratedjobs[2]}}</h6>
              <p class="jobdescription">
                {{ratedjobs[3]}}
              </p>
              <p>Job type: {{ratedjobs[4]}}</p>
              <p class="address"><span class="lnr lnr-map"></span> {{ratedjobs[5]}}</p>
              <p class="address"><span class="lnr lnr-database"></span> ₱{{ratedjobs[6]}} - ₱{{ratedjobs[7]}}</p>
              <a href="{{url_for('job_details', id = ratedjobs[0])}}" class="btns text-uppercase">Apply job</a>
            </div>

            {% endfor %}
            			
          </div>
        </div>							

        <div class="single-slidebar">
          <h4>Jobs by Category</h4>
          
          {% set count = [] %}

          {% for jobcat in categories %}

          
          <ul class="cat-list">
            <li><a class="justify-content-between d-flex" href="{{url_for('categories',c=jobcat[0])}}"><p>{{jobcat[0]}}</p><span>{{jobnum[count|length]}}</span></a></li>
          </ul>

          {% set __ = count.append(1) %}
          
          {% endfor %}
          
        </div>

      </div>
    </div>
  </div>	
</section>

{% endblock %}

  {% block js %}
  
  <!-- Vendor JS Files -->
  <script src="{{url_for('static',filename='assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/vendor/waypoints/noframework.waypoints.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static',filename='assets/js/main.js')}}"></script>

  <!--ADDED SCRIPTS-->
  <script src="{{url_for('static',filename='assets/js/categories/vendor/jquery-2.2.4.min.js')}}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='assets/js/categories/easing.min.js')}}"></script>			
	<script src="{{url_for('static',filename='assets/js/categories/hoverIntent.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/categories/superfish.min.js')}}"></script>	
	<script src="{{url_for('static',filename='assets/js/categories/jquery.ajaxchimp.min.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/categories/jquery.magnific-popup.min.js')}}"></script>	
	<script src="{{url_for('static',filename='assets/js/categories/owl.carousel.min.js')}}"></script>			
	<script src="{{url_for('static',filename='assets/js/categories/jquery.sticky.js')}}"></script>
	<script src="{{url_for('static',filename='assets/js/categories/jquery.nice-select.min.js')}}"></script>			
	<script src="{{url_for('static',filename='assets/js/categories/parallax.min.js')}}"></script>			
	<script src="{{url_for('static',filename='assets/js/categories/main.js')}}"></script>

  {% endblock %}
